@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    color: #fff;
    font-family: "Roboto", "HelveticaNeue-Light", sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
body {
    background-color: #141b28;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
a {
    color: #ffffffcc;
    text-decoration: none;
}
@media all and (max-width: 768px) {
    body {
        font-size: 15px;
    }
}
@media all and (min-width: 480px) {
    body {
        font-size: 14px;
    }
}
p {
    font-size: 16px;
    font-weight: 300;
}
